html,body {
	width: 100%;
	height: 100%;
}
body {
	background-color: #f5e9b8;
}
#container {
	width: 1100px;
	height: 100%;
	position: absolute;
	left: 50%;
	margin-left: -450px;
}
.font {
	font-family: 'Neuton', serif;
	font-size: 12em;
}
#adopt {
	color: #906d5c;
	position: absolute;
	left: -180px;
	top: -140px;
    animation-name: adopt;
    -webkit-animation: adopt 10.0s forwards;
    animation-delay: 1s;
}
#dont {
	color: #e07666;
	position: absolute;
	left: -180px;
	top: 30px;
    animation-name: dont;
    -webkit-animation: dont 10.0s forwards;
    animation-delay: 1s;
}
#shop {
	color: #906d5c;
	position: absolute;
	left: -180px;
	top: 200px;
    animation-name: shop;
    -webkit-animation: shop 10.0s forwards;
    animation-delay: 1s;
}
#dog {
	height: auto; 
    width: auto; 
    max-height: 780px; 
    max-width: 100%;
    top: 90px;
    left: 120px;
    position: absolute;
    animation-name: dog;
    -webkit-animation: dog 10.0s forwards;
    animation-delay: 1s;
}
#cat {
	height: auto; 
    width: auto; 
    max-height: 520px; 
    max-width: 530px;
    position: absolute;
    top: 350px;
    left: 370px;
    animation-name: cat;
    -webkit-animation: cat 10.0s forwards;
    animation-delay: 1s;
}
#heart {
	height: auto; 
    width: auto; 
    max-height: 100px; 
    max-width: 100px;
    top: 650px;
    left: 58px;
    position: absolute;
    animation: beat 1s infinite alternate;
}
#paw {
	height: auto; 
    width: auto; 
    max-height: 130px; 
    max-width: 130px;
    position: absolute;
    top: 60px;
    left: 115px;
    animation-name: paw;
    -webkit-animation: paw 10.0s forwards;
    animation-delay: 1s;

}
#paw2 {
	height: auto; 
    width: auto; 
    max-height: 130px; 
    max-width: 130px;
    position: absolute;
    top: 400px;
    left: 85px;
    animation-name: paws;
    -webkit-animation: paws 10.0s forwards;
    animation-delay: 1s;

}
#support {
	height: auto; 
    width: auto; 
    max-height: 200px; 
    max-width: 200px;
    top: 585px;
    left: 5px;
    position: absolute;
    -webkit-animation:spin 10s linear; /*spin animation*/
    -moz-animation:spin 10s linear;
    animation:spin 10s linear;
    animation-delay: 1s;
}
#support:hover{
    transform: scale(1.5, 1.5);
    opacity: .5;
}
/*This is all of the animation keyframes for the above*/

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@keyframes dog {
    0% {left:120px;}
    25% {left:500px;}
    100% {left:-200px; -webkit-transform: scaleX(-1);} /*makes the dog flip around*/
}
@keyframes cat {
    0% {left:370px;}
    50% {left:-500px;}
    100% {left:-360px;}
}
@keyframes adopt {
    0% {top: -140px; left: -180px;} 
    25% {top: -140px; left: 380px;}
    100% {top: -140px; left: 380px;}
}
@keyframes dont {
    0% {top: 30px; left: -180px;} 
    50% {top: 30px; left: 460px;}
    100% {top: 30px; left: 460px;}
}
@keyframes shop {
    0% {top: 200px; left: -180px;} 
    75% {top: 200px; left: 520px;}
    100% {top: 200px; left: 520px;}
}
@keyframes paw {
    0% {top: 60px; left: 115px;} 
    25% {top: 60px; left: 670px;}
    100% {top: 60px; left: 670px;}
}
@keyframes paws {
    0% {top: 400px; left: 85px;} 
    75% {top: 400px; left: 790px;}
    100% {top: 400px; left: 790px;}
}
@keyframes beat{
    to { transform: scale(1.4); }
}